body {
  font-family: Verdana, Sans-Serif;
  font-size: 14px;
  background-color: #1b1b1b;
  line-height: 1.7;
  cursor: url("./Images/cursor.png"), auto;
  zoom: 100%;
}

main {
  margin: 20px auto;
  width: 60%; /* Adjust this to control the width of the main content area */
}

footer {
  padding: 5px;
  text-align: center;
  font-size: 0.85em;
  width: auto;
  margin: 20px auto;
  padding-top: 10px;
  border-top: 1px solid #ffffff;
}

header {
  padding: 5px;
  text-align: center;
  width: auto;
  margin: 20px auto;
  padding-top: 10px;
  border-bottom: 1px solid #ffffff;
}

header h1 {
  color: #d86c1c;
}

strong,
b {
  color: #d8b48c;
}

#table-of-contents {
  color: #33bbff;
}

a {
  color: inherit; /* This will make the links the same color as the surrounding text */
  text-decoration: none; /* This will remove the underline */
}

.blog-image {
  width: 100%; /* This will make the image take the full width of its parent element */
  height: auto; /* This will maintain the aspect ratio of the image */
  object-fit: cover; /* This will crop the image to fit the dimensions */
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Dark background */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

body {
  background-color: #002a35;
  color: #839496;
}
::selection {
  background: rgba(255, 255, 255, 0.05);
}
a,
a:visited,
a:active,
a code {
  color: #2aa198;
  border-color: #073642;
}
a:hover {
  background-color: #073642;
  border-color: #073642;
  color: #2aa198;
}
hr {
  border-color: #073642;
}
h1,
h2,
h3 {
  color: #cb4b16;
}
h1 a,
h1 a:visited,
h1 a:active {
  color: #cb4b16;
}
h1 a:hover {
  background-color: #073642;
  border-color: #073642;
  color: #cb4b16;
}
article h1 a.anchor {
  color: #2aa198;
}
blockquote {
  border-color: #cb4b16;
}

@media screen and (max-width: 600px) {
  main {
    margin: auto;
    width: 95%; /* Adjust this to control the width of the main content area */
  }
}
